.brands {
    width: 100%;
    height: 100%;
    background-color: white;

    .swiper-slide{
        height: 200px;

        &--brands{
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .swiper-pagination{
        span{
            background-color: $textPrimary;
        }
    }
    }

    .swiper-button-prev,
    .swiper-button-next {
        color: $textPrimary;
    }