.categories {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 2rem 0;
    background: rgb(247, 235, 236);
    background: linear-gradient(180deg, rgba(247, 235, 236, 1) 0%, rgba(247, 235, 236, 1) 0%, rgba(255, 255, 255, 1) 100%);

    @media (min-width: 425px){
        padding: 2rem 2rem;
    }
    &__container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0 2rem;

        @media (min-width: 1024px) {
            flex-direction: row;
        }

        &__description {
            display: flex;
            flex-direction: column;
            justify-items: center;
            max-width: 480px;

            @media (min-width: 768px){
                max-width: none;
            }

            @media (min-width: 1024px) {
                width: 40%;
                padding: 0 2rem 0 0;
            }

            h2 {
                font-size: $subHeadings;
                color: $charcoal;
                letter-spacing: 2.5px;
            }

            p {
                margin: 10px 0 0 0;
                color: $textPrimary;
                font-size: 1.4rem;
                font-weight: 500;
                letter-spacing: 1px;
            }
        }

        &__media {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 25px 0 0 0;

            @media (min-width: 768px) {
                flex-direction: row;
            }

            @media (min-width: 1024px) {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 15px;
            }

            &__categoria {
                width: 100%;
                margin: 5px;

                &__text {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background-color: white;
                    color: black;

                    h2 {
                        font-size: $subHeadings;
                    }
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                &__image--makeup {
                    height: 375px;
                }

                &__image--perfume {
                    height: 375px;
                    @media (min-width: 1024px){
                        height: 150px;
                    }
                }

                &__image--skin {
                    height: 375px;
                }
            }

            &__categoria--make {
                grid-row: span 2;
            }

            &__categoria--perfume {
                @media (min-width: 1024px) {
                    img {
                        max-height: 150px;
                    }
                }
            }
        }
    }
}