.feed{
    display: flex;
    justify-content: center;
    &__container{
        display: flex;
        flex-direction: column;
        &__username{
    
        }
    
        &__content{
    
        }
    }
}