.kit {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(247, 235, 236);
    background: linear-gradient(90deg, rgba(247, 235, 236, 1) 0%, rgba(247, 235, 236, 1) 75%, rgba(255, 255, 255, 1) 100%);
    width: 100%;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        padding: 2rem 2rem;


        @media (min-width: 1000px){
            flex-direction: row;
        }

        &__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            @media (min-width: 768px){
                flex-direction: row;
                align-items: flex-end;
            }

            &__image {
                max-width: 500px;

                @media (min-width: 768px){
                    max-width: 350px;
                }

                img {
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            &__description {
                display: flex;
                flex-direction: column;
                padding-left: 5px;
                max-width: 500px;
                
                @media (min-width: 768px){
                    margin: 0px 15px;
                    max-width: 245px
                }

                @media (min-width: 1000px){
                    max-width: 245px
                }
                

                h2 {
                    font-size: $subHeadings;
                    color: $charcoal;
                }

                p{
                    letter-spacing: 1px;
                    font-size: 1.2rem;
                    margin: 10px 0;
                }

                button{
                    border: none;
                    background-color: $textPrimary;
                    color: $bg;
                    font-family: $secondFont;
                    border-radius: 5px;
                    padding: 5px;
                    width: 60%;
                    height: 30px;
                }

                button:active{
                    transform: scale(1.01);
                }
            }
        }

        &__swiper {
            width: 100%;
            max-width: 500px;
            height: 400px;
            border-radius: 10px;
            margin: 20px 0 0 0;
            display: none;

            @media (min-width: 1000px){
                max-width: 300px;
                max-height: 260px;
                display: flex;
            }

                .kit {
                    width: 100%;
                    height: 100%;

                    .swiper-wrapper{

                        .swiper-slide {
                            img {
                                display: block;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
        }
    }

}