//colors
$bg: #F7EBEC;
$textPrimary: #E15554;
$greenCyan: #009B72;
$charcoal: #424651;
$carolinaBlue: #4D9DE0;

//fonts
$firstFont: 'Playfair Display', serif;
$secondFont: 'PT Sans', sans-serif;

//font-sizes

$headings: 2.1rem;
$subHeadings: 2.5rem;