h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif; }

p {
  margin: 0;
  font-family: "PT Sans", sans-serif; }

a, a:visited, a:active {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #F7EBEC; }

ul {
  list-style-type: none; }

button, a {
  cursor: pointer; }

.banner {
  width: 100%;
  height: 100%; }
  .banner .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-size: 60px;
    height: 400px; }
    @media (min-width: 1024px) {
      .banner .swiper-slide {
        height: 813px; } }
    .banner .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .banner .swiper-button-prev,
  .banner .swiper-button-next {
    color: #E15554; }

.brands {
  width: 100%;
  height: 100%;
  background-color: white; }
  .brands .swiper-slide {
    height: 200px; }
    .brands .swiper-slide--brands {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.swiper-button-prev,
.swiper-button-next {
  color: #E15554; }

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E15554; }
  .bar__text {
    color: #F7EBEC;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    margin: 2px 0;
    text-transform: uppercase; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #F7EBEC; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E15554;
    width: 100%; }
    @media (min-width: 375px) {
      .header__container {
        justify-content: space-between;
        width: 90%; } }
    .header__container__logo {
      height: 100px; }
      .header__container__logo img {
        height: 100px;
        width: 200px;
        object-fit: cover; }
    .header__container__menu {
      display: flex;
      justify-content: center;
      width: 50%; }
      @media (max-width: 800px) {
        .header__container__menu {
          display: none; } }
      @media (min-width: 768px) {
        .header__container__menu {
          width: 70%; } }
      .header__container__menu__nav {
        width: 100%; }
        .header__container__menu__nav__list {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin: 0;
          padding: 0; }
          .header__container__menu__nav__list__item {
            margin: 0 10px; }
            .header__container__menu__nav__list__item a {
              display: inline-block;
              position: relative;
              font-family: "PT Sans", sans-serif;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-size: 18px; }
            .header__container__menu__nav__list__item a:after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              left: 0;
              bottom: 0;
              background-color: #E15554;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out; }
            .header__container__menu__nav__list__item a:hover:after {
              transform: scaleX(1);
              transform-origin: bottom left; }
    .header__container__shortcuts {
      display: flex;
      flex-direction: row; }
      .header__container__shortcuts__button {
        border: none;
        background-color: #F7EBEC;
        color: #E15554; }
        .header__container__shortcuts__button__icon {
          font-size: 20px;
          transition: all .2s ease-in-out; }
        .header__container__shortcuts__button__icon:hover {
          transform: scale(1.2); }

.categories {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 50px 0 50px 0;
  background: #f7ebec;
  background: linear-gradient(180deg, #f7ebec 0%, #f7ebec 0%, white 100%); }
  .categories__container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 90%; }
    @media (min-width: 1024px) {
      .categories__container {
        flex-direction: row;
        height: 813px; } }
    .categories__container__description {
      display: flex;
      flex-direction: column;
      justify-items: center; }
      @media (min-width: 1024px) {
        .categories__container__description {
          width: 40%; } }
      .categories__container__description h2 {
        font-size: 2.5rem;
        color: #424651;
        letter-spacing: 2.5px; }
      .categories__container__description p {
        margin: 10px 0 0 0;
        color: #E15554;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 1px; }
    .categories__container__media {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px 0 0 0; }
      @media (min-width: 768px) {
        .categories__container__media {
          flex-direction: row; } }
      @media (min-width: 1024px) {
        .categories__container__media {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px; } }
      .categories__container__media__categoria {
        width: 100%;
        margin: 5px; }
        .categories__container__media__categoria__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          color: black; }
          .categories__container__media__categoria__text h2 {
            font-size: 2.5rem; }
        .categories__container__media__categoria img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .categories__container__media__categoria__image--makeup {
          height: 375px; }
        .categories__container__media__categoria__image--perfume {
          height: 375px; }
          @media (min-width: 1024px) {
            .categories__container__media__categoria__image--perfume {
              height: 150px; } }
        .categories__container__media__categoria__image--skin {
          height: 375px; }
      .categories__container__media__categoria--make {
        grid-row: span 2; }
      @media (min-width: 1024px) {
        .categories__container__media__categoria--perfume img {
          max-height: 150px; } }

.kit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7ebec;
  background: linear-gradient(90deg, #f7ebec 0%, #f7ebec 75%, white 100%);
  width: 100%; }
  .kit__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    padding: 50px 0; }
    @media (min-width: 1000px) {
      .kit__container {
        flex-direction: row; } }
    .kit__container__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 768px) {
        .kit__container__content {
          flex-direction: row;
          align-items: flex-end; } }
      .kit__container__content__image {
        max-width: 500px;
        height: 100%; }
        .kit__container__content__image img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .kit__container__content__description {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        padding-left: 5px; }
        @media (min-width: 768px) {
          .kit__container__content__description {
            margin: 0px 15px; } }
        .kit__container__content__description h2 {
          font-size: 2.5rem;
          color: #424651; }
        .kit__container__content__description p {
          letter-spacing: 1px;
          font-size: 1.4rem;
          margin: 10px 0;
          width: 80%; }
        .kit__container__content__description button {
          border: none;
          background-color: #E15554;
          color: #F7EBEC;
          font-family: "PT Sans", sans-serif;
          border-radius: 5px;
          padding: 5px;
          width: 60%;
          height: 30px; }
        .kit__container__content__description button:active {
          transform: scale(1.01); }
    .kit__container__swiper {
      width: 100%;
      max-width: 500px;
      height: 400px;
      border-radius: 10px;
      margin: 20px 0 0 0; }
      @media (min-width: 1000px) {
        .kit__container__swiper {
          max-width: 350px;
          max-height: 300px; } }
      .kit__container__swiper .kit {
        width: 100%;
        height: 100%; }
        .kit__container__swiper .kit .swiper-wrapper .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }

.feed {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0; }
  .feed__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px; }
    .feed__container__username {
      display: flex;
      justify-content: center;
      margin: 20px 0; }
    .feed__container__content {
      display: flex;
      justify-content: center;
      overflow-x: auto; }
      .feed__container__content__box {
        background-color: azure;
        height: 300px;
        width: 300px;
        margin: 0 20px; }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%; }
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 0 5rem; }
    @media (min-width: 768px) {
      .footer__container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center; } }
    .footer__container__menu {
      display: flex;
      flex-direction: column; }
      .footer__container__menu--headings {
        text-align: left; }
      .footer__container__menu--content ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left; }
    .footer__container__social {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .footer__container__social h4 {
        text-align: left; }
      .footer__container__social--icons {
        display: flex;
        flex-direction: column; }

.testing {
  width: 71.42857%; }
