h1,
h2,
h3 {
  margin: 0;
  font-family: "Playfair Display", serif; }

p {
  margin: 0;
  font-family: "PT Sans", sans-serif; }

a, a:visited, a:active {
  text-decoration: none; }

html {
  box-sizing: border-box;
  font-size: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  background-color: #F7EBEC; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

button, a {
  cursor: pointer; }

button:active {
  transform: scale(1.01); }

.banner {
  width: 100%;
  height: 100%; }
  .banner .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
    font-size: 60px;
    height: 400px; }
    @media (min-width: 1024px) {
      .banner .swiper-slide {
        height: 813px; } }
    .banner .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .banner .swiper-button-prev,
  .banner .swiper-button-next {
    color: #E15554; }

.brands {
  width: 100%;
  height: 100%;
  background-color: white; }
  .brands .swiper-slide {
    height: 200px; }
    .brands .swiper-slide--brands {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover; }

.swiper-button-prev,
.swiper-button-next {
  color: #E15554; }

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E15554; }
  .bar__text {
    color: #F7EBEC;
    font-family: "PT Sans", sans-serif;
    text-align: center;
    margin: 2px 0;
    text-transform: uppercase; }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #F7EBEC; }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #E15554;
    width: 100%; }
    @media (min-width: 375px) {
      .header__container {
        justify-content: space-between;
        padding: 0 10px; } }
    .header__container__logo {
      height: 100px;
      width: 10rem; }
      .header__container__logo img {
        height: 100px;
        width: 100%;
        object-fit: cover; }
    .header__container__menu {
      display: none; }
      @media (min-width: 900px) {
        .header__container__menu {
          display: flex;
          width: 60%; } }
      .header__container__menu__nav {
        width: 100%; }
        .header__container__menu__nav__list {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          margin: 0;
          padding: 0; }
          .header__container__menu__nav__list__item {
            margin: 0 10px; }
            .header__container__menu__nav__list__item a {
              display: inline-block;
              position: relative;
              font-family: "PT Sans", sans-serif;
              letter-spacing: 1px;
              text-transform: uppercase;
              font-size: 18px; }
            .header__container__menu__nav__list__item a:after {
              content: '';
              position: absolute;
              width: 100%;
              transform: scaleX(0);
              height: 2px;
              left: 0;
              bottom: 0;
              background-color: #E15554;
              transform-origin: bottom right;
              transition: transform 0.25s ease-out; }
            .header__container__menu__nav__list__item a:hover:after {
              transform: scaleX(1);
              transform-origin: bottom left; }
    @media (max-width: 900px) {
      .header__container .header__container__menu.active {
        display: flex;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        background-color: #F7EBEC;
        height: calc(63vh - 100px);
        z-index: 1000;
        padding-left: 55px;
        align-items: center; } }
    @media (max-width: 450px) {
      .header__container .header__container__menu.active {
        margin-top: 24px; } }
    @media (max-width: 900px) {
      .header__container .header__container__menu__nav__list.active {
        display: block; } }
    .header__container .header__container__menu__nav__list.active .active {
      margin: 40px 0;
      width: 92%; }
    .header__container__shortcuts {
      display: flex;
      flex-direction: row;
      width: 10rem; }
      .header__container__shortcuts__button {
        border: none;
        background-color: #F7EBEC;
        color: #E15554; }
        .header__container__shortcuts__button__icon {
          font-size: 20px;
          transition: all .2s ease-in-out; }
        .header__container__shortcuts__button__icon:hover {
          transform: scale(1.2); }
        @media (min-width: 900px) {
          .header__container__shortcuts__button--mobile {
            display: none; } }

.categories {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 2rem 0;
  background: #f7ebec;
  background: linear-gradient(180deg, #f7ebec 0%, #f7ebec 0%, white 100%); }
  @media (min-width: 425px) {
    .categories {
      padding: 2rem 2rem; } }
  .categories__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 2rem; }
    @media (min-width: 1024px) {
      .categories__container {
        flex-direction: row; } }
    .categories__container__description {
      display: flex;
      flex-direction: column;
      justify-items: center;
      max-width: 480px; }
      @media (min-width: 768px) {
        .categories__container__description {
          max-width: none; } }
      @media (min-width: 1024px) {
        .categories__container__description {
          width: 40%;
          padding: 0 2rem 0 0; } }
      .categories__container__description h2 {
        font-size: 2.5rem;
        color: #424651;
        letter-spacing: 2.5px; }
      .categories__container__description p {
        margin: 10px 0 0 0;
        color: #E15554;
        font-size: 1.4rem;
        font-weight: 500;
        letter-spacing: 1px; }
    .categories__container__media {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 25px 0 0 0; }
      @media (min-width: 768px) {
        .categories__container__media {
          flex-direction: row; } }
      @media (min-width: 1024px) {
        .categories__container__media {
          display: grid;
          grid-template-columns: 1fr 1fr;
          gap: 15px; } }
      .categories__container__media__categoria {
        width: 100%;
        margin: 5px; }
        .categories__container__media__categoria__text {
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: white;
          color: black; }
          .categories__container__media__categoria__text h2 {
            font-size: 2.5rem; }
        .categories__container__media__categoria img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
        .categories__container__media__categoria__image--makeup {
          height: 375px; }
        .categories__container__media__categoria__image--perfume {
          height: 375px; }
          @media (min-width: 1024px) {
            .categories__container__media__categoria__image--perfume {
              height: 150px; } }
        .categories__container__media__categoria__image--skin {
          height: 375px; }
      .categories__container__media__categoria--make {
        grid-row: span 2; }
      @media (min-width: 1024px) {
        .categories__container__media__categoria--perfume img {
          max-height: 150px; } }

.kit {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f7ebec;
  background: linear-gradient(90deg, #f7ebec 0%, #f7ebec 75%, white 100%);
  width: 100%; }
  .kit__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 2rem 2rem; }
    @media (min-width: 1000px) {
      .kit__container {
        flex-direction: row; } }
    .kit__container__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      @media (min-width: 768px) {
        .kit__container__content {
          flex-direction: row;
          align-items: flex-end; } }
      .kit__container__content__image {
        max-width: 500px; }
        @media (min-width: 768px) {
          .kit__container__content__image {
            max-width: 350px; } }
        .kit__container__content__image img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .kit__container__content__description {
        display: flex;
        flex-direction: column;
        padding-left: 5px;
        max-width: 500px; }
        @media (min-width: 768px) {
          .kit__container__content__description {
            margin: 0px 15px;
            max-width: 245px; } }
        @media (min-width: 1000px) {
          .kit__container__content__description {
            max-width: 245px; } }
        .kit__container__content__description span {
          font-family: "PT Sans", sans-serif; }
        .kit__container__content__description h2 {
          font-size: 2.5rem;
          color: #424651; }
        .kit__container__content__description p {
          letter-spacing: 1px;
          font-size: 1.2rem;
          margin: 10px 0; }
        .kit__container__content__description button {
          border: none;
          background-color: #E15554;
          color: #F7EBEC;
          font-family: "PT Sans", sans-serif;
          border-radius: 5px;
          padding: 5px;
          width: 60%;
          height: 40px; }
        .kit__container__content__description button:active {
          transform: scale(1.01); }
    .kit__container__swiper {
      width: 100%;
      max-width: 500px;
      height: 400px;
      border-radius: 10px;
      margin: 20px 0 0 0;
      display: none; }
      @media (min-width: 1000px) {
        .kit__container__swiper {
          max-width: 300px;
          max-height: 260px;
          display: flex; } }
      .kit__container__swiper .kit {
        width: 100%;
        height: 100%; }
        .kit__container__swiper .kit .swiper-wrapper .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover; }

.feed {
  display: flex;
  justify-content: center;
  background-color: white; }
  .feed__container {
    display: flex;
    flex-direction: column;
    width: 100%; }
    .feed__container__username {
      display: flex;
      justify-content: center;
      padding: 125px 0 0 0;
      font-family: "Playfair Display", serif;
      color: #424651;
      font-size: 1.2rem; }
    .feed__container__content {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 4rem 2rem; }
      .feed__container__content__box {
        width: 300px;
        height: 300px;
        margin: 15px;
        background-color: bisque;
        position: relative;
        transition: transform ease-in-out 0.5s; }
        .feed__container__content__box img {
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover; }
      @media (min-width: 960px) {
        .feed__container__content__box:hover {
          transform: translateY(-40%); } }

.footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white; }
  .footer__top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 2rem; }
    .footer__top div {
      position: relative; }
      .footer__top div img {
        display: block;
        width: 100%;
        max-width: 100px;
        display: block;
        object-fit: cover; }
    .footer__top div::before {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #CD5C5C;
      left: 85px;
      top: 50%;
      position: absolute; }
    .footer__top div:after {
      content: "";
      display: block;
      width: 100%;
      height: 2px;
      background: #CD5C5C;
      right: 85px;
      top: 50%;
      position: absolute; }
  .footer__container {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    color: #424651;
    padding: 2rem 2rem;
    font-family: "PT Sans", sans-serif; }
    @media (min-width: 768px) {
      .footer__container {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        text-align: center; } }
    .footer__container__menu {
      display: flex;
      flex-direction: column; }
      @media (min-width: 1024px) {
        .footer__container__menu {
          margin: 0 0 0 6rem; } }
      @media (min-width: 1440px) {
        .footer__container__menu {
          margin: 0 0 0 12rem; } }
      .footer__container__menu--headings {
        text-align: left; }
      .footer__container__menu--content ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: left; }
        .footer__container__menu--content ul li {
          margin: 5px; }
    .footer__container__newsletter {
      display: flex;
      flex-direction: column;
      text-align: left; }
      @media (min-width: 768px) {
        .footer__container__newsletter {
          align-items: center; } }
      .footer__container__newsletter__send {
        display: flex;
        justify-content: flex-start; }
        .footer__container__newsletter__send input {
          padding: 5px;
          border: 0;
          border-bottom: 2px solid #424651;
          outline: 0;
          font-size: 16px;
          color: #424651;
          background: none;
          font-family: "PT Sans", sans-serif;
          margin: 0 1px 0 0; }
        .footer__container__newsletter__send input::placeholder {
          color: #424651; }
        .footer__container__newsletter__send button {
          background-color: #E15554;
          border: none;
          border-radius: 4px;
          color: #F7EBEC;
          padding: 5 10px;
          font-family: "PT Sans", sans-serif; }
    .footer__container__social {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      .footer__container__social h4 {
        text-align: left; }
      .footer__container__social--icons {
        display: flex;
        flex-direction: column;
        font-family: "PT Sans", sans-serif; }

.testing {
  width: 71.42857%; }
